@charset "UTF-8";
input[type=text] {
  max-width: 100%;
}

#branding {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}
#branding h1.page-title {
  color: #444;
}

div.breadcrumb a:hover {
  color: #333;
}

div.vertical-tabs ul li.first a {
  border-top: 2px solid #0074bd;
}

/* @todo Fix problem in checboxes with adminimal theme + fpa */
.page-admin-people-permissions .dummy-checkbox {
  display: none !important;
}

.node-form .field--name-title input {
  font-size: 22px;
  width: 100%;
}

/* Style the description of fields */
body ul.tips:before,
body div.description:before,
body .form-item .description:before,
body .form-wrapper .counter:before {
  content: "»";
  font-size: 15px;
  color: #4fa5ff;
  margin-right: 4px;
  float: left;
}

ul.tips,
div.description,
.form-item .description,
body .form-wrapper .counter {
  margin: 0.2em 0 0 0;
  color: #777;
  font-size: 0.9em;
}

.adminimal .ui-dialog .ui-dialog-titlebar {
  border-radius: 0;
  background: #007bc6;
}
.adminimal .ui-dialog.ui-widget.ui-widget-content {
  /* Hide revision information vertical tabs for media edit */
}
.adminimal .ui-dialog.ui-widget.ui-widget-content .media-image-edit-form .form-type-vertical-tabs .vertical-tabs__menu {
  display: none;
}
.adminimal .ui-dialog.ui-widget.ui-widget-content .media-image-edit-form .form-type-vertical-tabs .vertical-tabs__panes {
  margin-right: 0;
  margin-left: 0;
}
.adminimal .ui-dialog.ui-widget.ui-widget-content .media-image-edit-form .form-actions {
  display: none;
}

.layout-region-node-secondary .form-item {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.details-wrapper {
  padding: 0.75em;
}
@media (max-width: 1200px) {
  .details-wrapper table {
    table-layout: fixed;
  }
  .details-wrapper table .image-preview,
.details-wrapper table .image-widget-data {
    float: none;
  }
}

#edit-created-from,
#edit-created-to,
#edit-user-created-from,
#edit-user-created-to,
#edit-content-created-from,
#edit-content-created-to {
  width: 150px;
}

.adminimal .button--small.button--primary {
  color: #333;
}
.adminimal .button--small.button--primary:hover {
  color: #fff;
}

.media-library-menu li {
  display: block;
}

.media-library-menu.nav {
  display: block;
}

.media-library-wrapper .media-library-view > nav {
  order: 4;
}

.media-library-wrapper .media-library-view > nav .pager__item {
  padding: 0;
}

.media-library-item {
  margin: 0;
}

.media-library-item.is-hover, .media-library-item.checked, .media-library-item.is-focus {
  margin: 0;
  padding: 6px;
}

.media-library-item--grid.is-hover:before, .media-library-item--grid.checked:before, .media-library-item--grid.is-focus:before {
  border: none;
}

.media-library-add-form .form-item-upload {
  display: flex;
}

.media-library-add-form .form-item-upload label {
  display: none;
}

.media-library-add-form .form-item-upload small {
  display: none;
}

.media-library-item--table.media-library-item .form-item {
  height: 100px;
  width: 100%;
  position: absolute;
  margin: 0;
  z-index: 1;
}

.media-library-item--table.media-library-item .form-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.media-library-item .js-click-to-select-checkbox input {
  background: none;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

.media-library-item .js-click-to-select-checkbox {
  left: 5px;
  bottom: 5px;
}

.media-library-add-form__input-wrapper .description {
  display: none;
}

.media-library-item .action-links {
  margin: 0 !important;
}

/*# sourceMappingURL=d324theme-admin.theme.style.css.map */
